body {
    font-family:"Open Sans Condensed", Sans-Serif, Sans;
    margin:0;
    padding:0;
    overflow:hidden;
}

h3 {
    font-size:4em;
    text-shadow:0 0 15px #000;
    font-weight:bold;
}

h2 {
    text-shadow:0 0 15px #000;
    font-weight:bold;
}

.table {
    display:table;
}

.table-cell {
    display:table-cell;
}

.b {
    font-weight:bold;
}

.big {
    font-size:1.6em;
}

.normalize-width {
    width:1080px;
    width:80vw;
}
.margin-center {
    margin:0 auto;
}

.overflow-auto {
    overflow:auto;
}
.overflow-hidden {
    overflow:hidden;
}

.clear {
    clear:both;
}

.text-center {
    text-align:center;
}
/***** HEADER ******/
#header {
    overflow:auto;
    position:fixed;
    top:0;
    background:#EAEAEA;
    z-index:100;
    width:100%;
}
#header .wrapper {
}
#header h1 {
    display:block;
    float:left;
    margin:15px 30px;
    font-weight:normal;
}
#menu {
    float:right;
    margin:15px 30px;
}
#menu a {
    font-size:1.8em;
    text-decoration:none;
    color:#888;
    transition:color 0.5s;
    margin:0 10px;
}
#menu a:hover {
    color:#000;
    text-decoration:underline;
}

/*********** HEADER END ************/

/************* SPLASH **************/

#splash {
    font-size:2.5em;
    color:#FFF;
    overflow:visible;
    height:100vh;
    z-index:1;
}

#splash div.table {
    height:100%;
    width:100%;
}

#splash div.table-cell {
    vertical-align:middle;
}

#splash h2 {
    text-align:center;
    text-shadow:0 0 15px #000;
    font-weight:bold;
}

#splash .back {

}

#splash .deep {
    top:-200px;
    background:url("../templates/default/img/php-code-compressor.jpg");
    background-size:cover;
    background-position:50% 50%;
}


/************** SPLASH END **********/


.group h2 {
    margin:0;
    padding:0;
    font-size:4em;
}

#showcase1, #showcase1-2 {
    z-index:3;
    color:#FFF;
}

#showcase1 h2 {
    text-align:left;
}

#showcase1 .fore {
    padding-top:100px;
}

#showcase1 .base {
    background:url(../templates/default/img/html-background-compressor.jpg);
    background-size:cover;
    background-position:50% 50%;
}

#showcase1 .animationpart.part1 {
    width:550px;
    float:left;
}
#showcase1 .animationpart.part3 {
    float:left;
    width:600px;
    margin-top:70px;
}
#showcase1 .animationpart.part3 p {
    max-width:420px;
    float:left;
    margin-left:20px;
}

#showcase1 .animationpart.part3 img {
    float:left;
}

#showcase1 .animationpart.part2 {
    float:right;
    width;550px;
}
#showcase1 .animationpart.part2 img {
    float:right;
}
#showcase1 .animationpart.part2 p {
    max-width:430px;
    float:left;
}
#showcase1 .animationpart.part4 {
    float:right;
    width:550px;
    margin-top:30px;
}
#showcase1 .animationpart.part4 img {
    float:right;
}
#showcase1 .animationpart.part4 p {
    clear:both;
}

#showcase1-2 .fore {
    padding-top:100px;
}
#showcase1-2 {
}
#showcase1-2 .animationpart.part5 {
    float:left;
    width:700px;
}
#showcase1-2 .animationpart.part5 p {
    float:right;
    width:400px;
    margin-top:50px;
}
#showcase1-2 .animationpart.part5 img {
    float:left;
    margin-right:20px;
}

#showcase1-2 .animationpart.part6 img {
    float:right;
}
#showcase1-2 .animationpart.part6 p {
    float:right;
    width:450px;
    margin-top:90px;
    margin-right:10px;
}
#showcase1-2 .animationpart.part6 {
    float:right;
    width:710px;
}
#showcase1-2 .animationpart.part7 img {
    float:left;
}
#showcase1-2 .animationpart.part7 p {
    float:left;
    width:450px;
    margin-top:50px;
}
#showcase1-2 .animationpart.part7 {
    clear:left;
    float:left;
}
#showcase1-2 .animationpart.part8 img {
    float:right;
}
#showcase1-2 .animationpart.part8 p {
    float:right;
    width:500px;
    margin-top:70px;
}
#showcase1-2 .animationpart.part8 {
    float:right;
    clear:right;
}

#showcase1-2 .base {
    background:url(../templates/default/img/bg-dark-stripes-compressor.jpg) no-repeat;
    background-size:cover;
    background-position:50% 50%;
}
.showcase1-2-bottom img {
    margin:10px;
}
.showcase1-2-bottom {
    margin-top:100px;
    font-size:3em;
}

.animationpart h4 {
    text-shadow:0 0 15px #000;
    font-size:3em;
    margin-bottom:0;
    /* box-shadow:-0px 8px 10px -8px #000;
    border-bottom:5px solid #FFF; */
}

.animationpart p {
    text-shadow:0 0 15px #000;
    font-size:1.4em;
}

#showcase2 {
	z-index:2;
}


#showcase2 .back {
	background:#00F;
}
.group {
    /*transform:rotateY(30deg) translateZ(-100px) translateX(600px);*/

}
.github-fork-ribbon-wrapper {
    margin-top:73px;
}