<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <style>
    #loading, .loading {
        font-family:Arial, Verdana, Tahoma;
        font-size:1em;
        text-align:center;
        font-size:5em;
        padding-top:40vh;
        position:absolute;
        top:0;
        left:0;
        width:100vw;
        height:100vh;
        background:#FFF;
    }
    </style>
    <title>Mundal Software - Innovative, modern web development for business</title>
    <script>
      (function(js,css) {window.engine={js:js,css:css};e=document.createElement("script");e.src="engine/engine.js";document.head.appendChild(e);})(
        ["script/parallax.js", "script/default.js"],
        ["css/style.css","css/style-parallax.css","css/mobile.css","//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css"]);
    </script>
    <noscript>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/style-parallax.css" />
        <link rel="stylesheet" type="text/css" href="css/mobile.css" />
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css" />
        <style>.parallax { overflow-y: auto; }</style>
    </noscript>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <meta property="og:title" content="Innovative, modern web" />
    <meta property="og:site_name" content="Mundal Software" />
    <meta property="og:url" content="http://munso.no" />
    <meta property="og:description" content="Mundal Software is a software development company with focus on delivering innovative and modern web-applications to small or medium-sized businesses." />
    <meta property="og:type" content="business.business" />
    <meta property="business:contact_data:street_address" content="Lienveien 35D" /> 
    <meta property="business:contact_data:locality"       content="Notodden" /> 
    <meta property="business:contact_data:postal_code"    content="3678" /> 
    <meta property="business:contact_data:country_name"   content="Norway" /> 
    <meta property="og:image" content="http://munso.no/templates/default/img/php-code-compressor.jpg" />
    <meta name="description" content="Mundal Software is a software development company with focus on delivering innovative and modern web-applications to small or medium-sized businesses." />
    <meta name="keywords" content="modern,innovative,web,server,client,html,css,javascript,php,mysql,memcache,memcached,node,nodejs,node.js,postgresql,tech,content,powerful,software,mundal,development,business,businesses,thomas mundal" />
    <link rel="canonical" href="http://munso.no" />
    <link rel="publisher" href="https://plus.google.com/109226949132303516512/" />
</head>
<body>
    <script>document.write('<div id="loading">Just a second...</div>')</script>

    <main id="page">
        <div class="github-fork-ribbon-wrapper right">
            <div class="github-fork-ribbon">
                <a href="https://github.com/thmundal">Fork me on GitHub</a>
            </div>
        </div>
      <header id="header">
        <div class="wrapper">
          <h1>Mundal Software</h1>

          <nav id="menu">
            <a href="slide-home" target="#top_anchor" class="anchor-link">Home</a>
            <a href="slide-client-side-tech" target="#showcase1_anchor" class="anchor-link">Client-side Tech</a>
            <a href="slide-server-side-tech" target="#showcase1-2_anchor" class="anchor-link">Server-side Tech</a>
            <a href="slide-contact" target="#contact_anchor" class="anchor-link">Contact</a>
            <a href="http://blog.munso.no">Blog</a>
          </nav>
        </div>
      </header>