	  <div class="parallax">
		<section id="splash" class="group">
            <a id="top_anchor" data-link="home"></a>
		  <div class="layer base">
			<div class="table">
			  <div class="table-cell">
				<h2>Innovative, modern web!</h2>
                <div id="scroll_info" class="text-center">Use your mouse to scroll</div>
			  </div>
			</div>
		  </div>

		  <div class="layer deep"></div>
		</section>

        <section id="showcase1" class="group">
            <a id="showcase1_anchor" data-link="client-side-tech"></a>
            <div class="layer fore">
                <div class="normalize-width margin-center overflow-hidden">
                    <h2>Client-side tech</h2> 
                    <div class="animationpart part1">
                        <p><span class="b">HTML5</span> is the latest iteration of the HTML standard, bundling together new semantic html markup, broader <span class="b">CSS</span> definitions and new, powerful <span class="b">JavaScript</span> functionality. As the web has evolved, there has been more need for optimizing content for both mobile devices, and search engines - HTML aspires to do just that. <br /><span class="b">Is your website up-to-date with HTML5?</span></p>
                    </div>
                    
                    <div class="animationpart part2">
                        <img src="templates/default/img/javascript-vector-compressor.svg" height="162" width="141" alt="JavaScript" />
                        <p><span class="b">JavaScript</span> enables interactivity with your web-page. Creating custom scripts for your site will allow you to customize user-experience and optimize deliveration of content. JavaScript is a very powerful tool embedded in HTML5, and creates dynamic interaction between your users and your website.</p>
                    </div>
                    
                    <div class="animationpart part4">
                        <img src="templates/default/img/jquery-compressor.svg" alt="jQuery" height="110" width="449" />
                        <p><span class="b">jQuery</span> is a powerful <span class="b">JavaScript</span> framework that leaves a ton of functionality easily accessable. Utilizing jQuery will give you functionality that is almost guaranteed to work in all the major browsers, and ensures that your scripts will work for any platform.</p>
                    </div>
                    
                    <div class="animationpart part3">
                        <img src="templates/default/img/css3-compressor.svg" width="115" height="162" alt="CSS3" />
                        <p><span class="b">CSS3</span> is the lastest technology used for styling websites, creating beautiful design, transitions, shadows and other eye-catching content. With CSS3 you can create content that is appealing and interesting, and even impressive. Using CSS transitions you can create a more life-like presentation of your content.</p>
                    </div>
                    <!-- <img src="templates/default/img/html5.svg" width="115" alt="HTML5" />
                    <img src="templates/default/img/javascript.png" height="162" alt="JavaScript" /> -->
                </div>
            </div>
            <div class="layer base">
            </div>
        </section>
        
        <section id="showcase1-2" class="group">
            <a id="showcase1-2_anchor" data-link="server-side-tech"></a>
            <div class="layer fore">
                <div class="normalize-width margin-center overflow-hidden">
                    <h2>Server-side tech</h2>
                    <div class="animationpart part5">
                        <img src="templates/default/img/PHP-logo-compressor.svg" height="250" width="250" alt="PHP" />
                        <p><span class="b">PHP</span> is a very powerful scripting language that runs in the server environment. This technology is widely used to create websites that communicate with databases
                        or generates output based on the user's input.</p>
                    </div>
                    
                    <div class="animationpart part6">
                        <img src="templates/default/img/MySQL-compressor.svg" height="250" width="250" alt="MySQL" />
                        <p><span class="b">MySQL</span> is a very popular database-engine used in most of the systems that run on PHP or incorporates data that needs to be stored and used at a later time, such as userdata, productdata or images.</p>
                    </div>
                    
                    <div class="animationpart part7">
                        <img src="templates/default/img/postgresql-logo-compressor.svg" height="250" width="250" alt="PostgreSQL" />
                        <p><span class="b">PostgreSQL</span> is another database-engine, also very popular, and is very often depicted as a faster engine, with more accuracy and better error-handling. This type of database should be used with more demaning systems, and systems that are likely to expand and grow bigger in the future.</p>
                    </div>
                    
                    <div class="animationpart part8">
                        <img src="templates/default/img/node-js-compressor.svg" height="250" width="250" alt="Node.js" />
                        <p><span class="b">Node.JS</span> is the new and hot tech in the market. It is incredibly fast and efficient, and runs on Google Chome's V8 engine. It is written in ECMA-script, commonly known as JavaScript, and can be used to perform demaning interactive and dynamic tasks</p>
                    </div>
                </div>
                
                <div class="clear text-center showcase1-2-bottom animationpart part9">
                    ... And many more
                    <div>
                        <img src="templates/default/img/memcached-compressor.svg" width="80" height="80" alt="Memcached" />
                        <img src="templates/default/img/apache2-compressor.svg" width="130" height="80" alt="Apache Web Server" />
                        <img src="templates/default/img/lighttpd-compressor.svg" width="80" height="80" alt="Lighttpd Web Server" />
                        <img src="templates/default/img/mongodb.svg" width="80" height="80" alt="MongoDB" />
                    </div>
                </div>
            </div>
            <div class="layer base">
            </div>
        </section>

		<section id="contact" class="group">
          <a id="contact_anchor" data-link="contact"></a>
		  <div class="layer base">
            <div class="normalize-width margin-center overflow-hidden">
                <div class="animationpart part10">
                    <h2>Contact</h2>
                    <div id="contact-form" class="margin-center">
                        <p>Fill this form to send me a message</p>
                        <form action="/" id="the-contact-form">
                            <div class="table">
                                <div class="table-row"><div class="table-cell">Your name</div><div class="table-cell"><input type="text" name="contact_name" placeholder="John Doe" data-error="Please fill in your name" /></div></div>
                                <div class="table-row"><div class="table-cell">Your email</div><div class="table-cell"><input type="email" name="contact_email" placeholder="your@email.com" data-error="Please enter a valid email address" /></div></div>
                                <div class="table-row"><div class="table-cell">Topic</div><div class="table-cell">
                                    <select name="contact_topic">
                                        <option value="order">I want you to make me a web page</option>
                                        <option value="help">I want you to help me with a problem</option>
                                        <option value="question">I want to ask you a question</option>
                                    </select>
                                </div></div>
                            </div>
                            <div class="table">
                                <div class="table-row"><div class="table-cell">Your message</div></div>
                                <div class="table-row"><div class="table-cell"><textarea name="contact_message" placeholder="Write your message here" data-error="Please provide a message"></textarea></div></div>
                            </div>
                            <input type="submit" value="Send message" />
                        </form>
                    </div>
                    <div class="margin-center" style="width:485px">
                        <p>...Or you can find me on social media's</p>
                        <a href="https://www.facebook.com/pages/Mundal-Software/847091192049109" target="_blank"><img src="templates/default/img/facebook-icon-compressor.svg" width="80" height="80" alt="Facebook" /></a>
                        <a href="http://plus.google.com/109226949132303516512" target="_blank"><img src="templates/default/img/google-plus-icon-compressor.svg" width="80" height="80" alt="Google Plus" /></a>
                        <a href="http://linkedin.com/in/mundal" target="_blank"><img src="templates/default/img/linkedin-icon-compressor.svg" width="80" height="80" alt="Linkedin" /></a>
                        <a href="http://github.com/thmundal" target="_blank"><img src="templates/default/img/github-compressor.svg" width="80" height="80" alt="Github" /></a>
                    </div>
                </div>
            </div>
		  </div>
		  
		  <div class="layer back">
		  
		  </div>
		</section>
	  </div>